<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.ourapp.udada.mapper.RecipeMapper">

	<resultMap type="org.ourapp.udada.recipe.RecipeDTO" id="recipeMap">
			<id column="R_NO" property="rNo"/>
			<result column="M_EMAIL" property="mEmail"/>
			<result column="R_TITLE" property="rTitle"/>
			<result column="R_CONTENT" property="rContent"/>
			<result column="R_DATE" property="rDate"/>
			<association property="imageDTO" resultMap="imageMap" />
			<collection property="ingredientList" resultMap="recipeIngredientMap"></collection>
	</resultMap>
	
	<resultMap type="org.ourapp.udada.recipe.RecipeIngredientDTO" id="recipeIngredientMap">
			<id column="RI_NO" property="riNo"/>
			<result column="R_NO" property="rNo"/>
			<result column="F_NO" property="fNo"/>
			<result column="RI_AMOUNT" property="riAmount"/>
			<result column="F_NAME" property="fName"/>
	</resultMap>
	
	<resultMap type="org.ourapp.udada.image.ImageDTO" id="imageMap" >
		  	<id column="I_UUID" property="iUuid"/>
		 	<result column="ORI_NO" property="oriNo"/>
			<result column="I_NAME" property="iName"/>
			<result column="I_DIR" property="iDir"/>
			<result column="I_DIV" property="iDiv"/>
	</resultMap>

	<select id="getList" resultMap="recipeMap">
		SELECT * FROM RECIPE ORDER BY R_NO DESC
	</select>
	<select id="read" parameterType="long" resultMap="recipeMap">
		SELECT * FROM RECIPE WHERE R_NO = #{rNo}
	</select>
	<insert id="register">
		INSERT INTO RECIPE(R_NO, M_EMAIL, R_TITLE, R_CONTENT )
		VALUES (SEQ_RECIPE.NEXTVAL, #{mEmail} ,#{rTitle},#{rContent}) 
	</insert>
	<insert id="insertSelectKey">
	<selectKey order="BEFORE" keyProperty="rNo" resultType="long">
		SELECT SEQ_RECIPE.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO RECIPE(R_NO, M_EMAIL, R_TITLE, R_CONTENT )
		VALUES (#{rNo}, #{mEmail} ,#{rTitle},#{rContent}) 
	</insert>
	<update id="update" >
		UPDATE RECIPE SET M_EMAIL = #{mEmail} , R_TITLE = #{rTitle}, R_CONTENT = #{rContent}
		WHERE R_NO = #{rNo}
	</update>
	<delete id="delete">
		DELETE FROM RECIPE WHERE R_NO = #{rNo}
	</delete>
	
	<select id="selectWithIngredient" resultMap="recipeMap">
		SELECT R.*, RI.* FROM RECIPE R
		LEFT JOIN RECIPE_INGREDIENT RI 
		ON R.R_NO = RI.R_NO
		WHERE R.R_NO = #{rNo}
		ORDER BY R.R_NO DESC	
	</select>
	<select id="selectWithIngredientAndFood" resultMap="recipeMap">
		SELECT R.*, RI.*, F.* FROM RECIPE R
		LEFT JOIN RECIPE_INGREDIENT RI 
		ON R.R_NO = RI.R_NO
		LEFT JOIN FOOD F
		ON RI.F_NO = F.F_NO
		WHERE R.R_NO = #{rNo}
	</select>
	<select id="selectWithPaging" resultMap="recipeMap">
	<![CDATA[
		SELECT * FROM(
		SELECT 
		/*+ INDEX_DESC(R PK_RECIPE)*/
		R.R_NO, R.M_EMAIL ,R.R_TITLE, R.R_CONTENT, R.R_DATE, ROWNUM RN 
		FROM RECIPE R
		WHERE ROWNUM <= #{pageNum} * #{pageSize}
		) SUB 
		WHERE SUB.RN > (#{pageNum}-1) * #{pageSize} 
			
	]]>
	</select>
	<select id="countAll" resultType="int">
		SELECT COUNT(R_NO) FROM RECIPE
	</select>
	
	<select id="selectWithImageAndPaging" resultMap="recipeMap">
	<![CDATA[
		SELECT * FROM(
		SELECT SSUB.*,I.* FROM (SELECT 
		/*+ INDEX_DESC(R PK_RECIPE)*/
		R.R_NO, R.M_EMAIL ,R.R_TITLE, R.R_CONTENT, R.R_DATE, ROWNUM RN 
		
		FROM RECIPE R 
		ORDER BY R_NO DESC
		) SSUB
		LEFT JOIN IMAGE I
		ON SSUB.R_NO = I.ORI_NO
		) SUB 
		WHERE SUB.RN > (#{pageNum}-1) * #{pageSize}  AND SUB.RN <= #{pageNum} * #{pageSize}
	]]>
	
	</select>
</mapper>
